.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 20rem;
  margin: 10px;
  border-radius: 25px !important;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.27) !important;
  transition: all 0.2s linear;
}

.card-body {
  padding: 2rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.img-fluid {
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.img-fluid:hover {
  transform: scale(1.15);
}
