* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(201, 75, 75, 1) 0%,
    rgba(75, 19, 79, 1) 89%
  );
}

.login {
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
}

.login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.login form {
  font-size: 20px;
}

.login form .form-group {
  margin-bottom: 12px;
}

.login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  height: 80px;
}

.home_container {
  min-height: calc(100vh - 80px);
  background: linear-gradient(
    90deg,
    rgba(201, 75, 75, 1) 0%,
    rgba(75, 19, 79, 1) 89%
  );
}

.overlay-loading{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}